<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc">
	
	<bean id="fooService" class="com.moreopen.config.agent.FooService"/>
	
	<bean id="gooService" class="com.moreopen.config.agent.GooService"/>
	
	<bean id="hooService" class="com.moreopen.config.agent.HooService">
	    <property name="name" value="hooName.${hoo.name.prefix}----${hoo.name.suffix}"/>
		<property name="url" value="${hoo.url}"/>
		<property name="num" value="${hoo.num}"/>
		<property name="size" value="${hoo.size:9}"/>
		<property name="enabled" value="${hoo.enabled}"/>
	</bean>
	
	<bean id="jooService" class="com.moreopen.config.agent.JooService">
		<!--constructor-arg index="0" value="${joo.type}"/-->
		<constructor-arg name="type" value="${joo.type}"/>
	</bean>
	
	<!-- ====================================================================================================================================== -->
	<bean id="propertyConfigurer" class="com.moreopen.config.agent.zk.ZkAwaredPropertyPlaceholderConfigurer">
		<property name="zkBasedConfiguration" ref="zkBasedConfiguration"/>
		<property name="locations">
			<list>
				<value>classpath:app.properties</value>
			</list>
		</property>
	</bean>
	
	<!--bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:app.properties</value>
			</list>
		</property>
	</bean-->
	
	<bean id="zkAwaredBeanPostProcessor" class="com.moreopen.config.agent.zk.ZkAwaredBeanPostProcessor">
		<property name="zkBasedConfiguration" ref="zkBasedConfiguration"/>
	</bean>
	
	<bean id="zkBasedConfiguration" class="com.moreopen.config.agent.configuration.ZkBasedConfiguration">
		<property name="zkServerPort" value="${zk.serverPort}"/>
		<property name="app" value="${zk.appName}"/>
		<property name="localConfiguration" ref="localFileConfiguration"/>
	</bean>
	
	<bean id="localFileConfiguration" class="com.moreopen.config.agent.configuration.LocalFileConfiguration">
		<property name="filePath" value="${zk.localFile}"/>		
	</bean>
	<!-- ====================================================================================================================================== -->
	
</beans>



