<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:p="http://www.springframework.org/schema/p"
	default-autowire="byName">
	<context:annotation-config />
	<context:component-scan base-package="com.moreopen.config.center" >
		<context:exclude-filter type="regex" expression="com.moreopen.config.center.controller.*"/>
	</context:component-scan>
	<context:mbean-export registration="failOnExisting" />
	<mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
	<import resource="applicationContext-dao.xml"/>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:app.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="zkDelegate" class="com.moreopen.config.center.spi.ZKDelegate">
		<property name="zkServerPort" value="${zk.serverPort}"/>
	</bean>
	
</beans>
